.App {
    text-align: center;
    background: rgb(20, 20, 20);
    height: 100px;
}

.nav {
    height: 200px;
    background: rgb(51, 51, 51);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    border: solid black 1px; 
}

.nav-left {
    margin: 20px;
    display: flex;
    justify-content: left;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.nav-right-buttons {
    margin: 20px;
    height: 20px;
    color: white;
    text-decoration: solid;
    text-shadow: 0 0.188em 1.550em rgb(199, 157, 30);
}

.logo {
    width: 200px;
    margin-bottom: -35px;
    margin-top: -20px;
}

.registerbtn {
    width: 200px;
    height: 35px;
    text-align: center;
    border-radius: 80px;
    background-color: rgb(209, 150, 87);
    font-style: italic;
    font-size: 13px;
}

.feed {
    width: 375px;
    border: 1px solid rgb(51, 51, 51);
    overflow: hidden;
    overflow-y: scroll;
    height: 700px;
    padding: 10px
}

.feed h1 {
    color: rgb(209, 150, 87);
    text-decoration: underline;
    font-size: 27px;
}

.feed h2 {
    color: bisque;
}

.feed img {
    border-radius: 50px;
    box-shadow:0 0 .5em rgb(249, 247, 244);
}

.tracks-container p {
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.comment-div p {
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signin-card {
        background-color: white;
        width: 40%;
        height: 50%;
        position: relative;
        border-radius: 3em;
        box-shadow: 0 0.188em 1.550em rgb(37, 105, 187);
        display: inline-flex;
        height: 75px;
        margin-top: 10px;
        padding-top: 15px;
}


.input-wrapper {
    color: rgb(174, 132, 25);
    text-align: center;
    display: inline-flex;
    padding: .75rem;
}

.label {
    text-align: center;
    padding-right: 1rem;
}

.register-card {
    background-color: white;
    width: 40%;
    height: 50%;
    position: relative;
    border-radius: 3em;
    box-shadow: 0 0.188em 1.550em rgb(37, 105, 187);
    display: inline-flex;
    height: 250px;
    margin-top: 10px;
    padding-top: 10px;
}


body {
    background-color: rgb(64, 93, 101);
}


.home-container {
    background: rgb(64, 93, 101);
    height: 806px;
}
.home-feed {
    display: flex;
    justify-content: space-between;
} 

/* .profile-header {
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;  
} */



/* h2{
    text-align: center;
} */
/* .welcome-signin{
    height: 30vh;
    justify-content: center;
} */

/* button {
    max-width: 5vw;
} */

/* .register {
    text-align: center;
    height: 50px;
    margin-top: 4rem;
}  */


/* 
.profilebtn {
margin-left: 1rem;
} */

/* .signinbtn {
    justify-content: right;
    text-align: right;
    margin-left: 1200px;
} */

/* .searchbar {
    width:400px;
    height:35px;
    border: bold;
    outline:none;
    border-radius: 200px;
    padding: 1rem 1rem;
    justify-content: left;
} */
/* 
.logo {
    display: center;
    transform: scale(.50);
    top: 0;
    left: 0;
    transform: translate(70%, 35%);
    

}  */
/* 
.nav {
    margin-top: -200px;
}  */