.App {
    text-align: center;
    background: rgb(20, 20, 20);
}

.nav {
    height: 200px;
    background: rgb(51, 51, 51);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    border: solid black 1px; 
}

.nav-left {
    margin: 20px;
    display: flex;
    justify-content: left;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.nav-right-buttons {
    margin: 20px;
    height: 20px;
    color: white;
    text-decoration: none;
}

.logo {
    width: 200px;
    margin-bottom: -35px;
    margin-top: -20px;
}

.registerbtn {
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 80px;
    background-color: rgb(177, 132, 85);
    font-style: italic;
    font-size: 13px;
}

.feed {
    width: 30vw;
    height: 40vh;
    border: 2px solid black;
    overflow: automatic;
}




/* body {
    background-color: rgb(26, 38, 41);
    margin-top: -250px;
}
*/

.home-container {
    background: gray;
    height: 806px;
}
.home-feed {
    display: flex;
    justify-content: space-between;
} 


/* h2{
    text-align: center;
} */
/* .welcome-signin{
    height: 30vh;
    justify-content: center;
} */

/* button {
    max-width: 5vw;
} */

/* .register {
    text-align: center;
    height: 50px;
    margin-top: 4rem;
}  */


/* 
.profilebtn {
margin-left: 1rem;
} */

/* .signinbtn {
    justify-content: right;
    text-align: right;
    margin-left: 1200px;
} */

/* .searchbar {
    width:400px;
    height:35px;
    border: bold;
    outline:none;
    border-radius: 200px;
    padding: 1rem 1rem;
    justify-content: left;
} */
/* 
.logo {
    display: center;
    transform: scale(.50);
    top: 0;
    left: 0;
    transform: translate(70%, 35%);
    

}  */
/* 
.nav {
    margin-top: -200px;
}  */