/* App.js */
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: rgb(20, 20, 20);
  overflow: hidden;
}

.nav-section {
  margin: 1vh;
  height: 19vh;
  background: rgb(18, 30, 37);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.main-section {
  margin: 1vh;
  margin-top: 0px;
  height: 78vh;
  background: rgb(77, 106, 114);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.Nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
}

/* Nav.js */
.nav-left {
  margin: 20px;
  display: flex;
  justify-content: left;
}

.logo {
  height: 175px;
  margin-bottom: -30px;
  margin-top: -20px;
}

.registerbtn {
  width: 200px;
  height: 35px;
  text-align: center;
  border-radius: 80px;
  background-color: rgb(216, 161, 103);
  font-style: italic;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 2vh;
}

.registerbtn:hover {
  width: 210px;
  font-size: 15px;
}

.nav-right {
  display: flex;
  justify-content: right;
}

.nav-right-ctn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav-right-buttons {
  width: 60px;
  margin: 20px;
  height: 20px;
  color: white;
  text-decoration: solid;
}

.nav-right-buttons:hover {
  font-size: 17px;
}

/* Home.js */
.Home {
  display: flex;
  justify-content: space-around;
}

.sectionctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 75vh;
}

.info-ctn {
  width: 50vh;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 8%;
  box-shadow: 0 0 10px 3px rgba(60, 60, 60, 0.8);
  justify-content: space-around;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.info-ctn::-webkit-scrollbar { 
  display: none;  
}

.titles h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 25px;
}

.tracks-ctn {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.track {
  margin: 5px;
  border-bottom: 1px solid black;
  height: 200px;
  padding: 20px;
}

.track-img-ctn {
  padding-right: 30px;
}

.track-artist {
  display: flex;
  justify-content: start;
  margin-left: 50px;
}

.track h3 {
  font-size: 20px;
  color: rgb(217, 173, 53)
}

.track-poster-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow:0 0 .5em rgb(249, 247, 244);
}

.track-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comments-ctn {
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.comment {
  margin: 5px;
  height: 200px;
  border-bottom: 1px solid black;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.comment-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment h3 {
  font-size: 20px;
  color: rgb(217, 173, 53)
}

.comment-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.comment p {
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0%;
}

.comment-poster-img {
  border-radius: 50%;
  box-shadow:0 0 .5em rgb(249, 247, 244);
  height: 120px;
}

.artist-ctn {
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.artist-poster-img {
  border-radius: 50%;
  box-shadow:0 0 .5em rgb(249, 247, 244);
  height: 150px;
}







.post-div::-webkit-scrollbar {
    display: none;
}

.post-div img {
    height: 100px;
    box-shadow:0 0 .5em rgb(249, 247, 244);
}

.post-div h3 {
    font-size: 12px;
    color: rgb(217, 173, 53);
}

.artists-ctn {
    padding-left: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.artists-ctn img {
    box-shadow:0 0 .5em rgb(249, 247, 244);
    margin: auto;
    display: block;
}

.artists-ctn h2 {
    color: rgb(217, 173, 53);
    text-align: center;
}

.signin-card {
        background-color: white;
        width: 40%;
        height: 50%;
        position: relative;
        border-radius: 3em;
        box-shadow: 0 0.100em 1em rgb(180, 197, 218);
        display: inline-flex;
        height: 75px;
        margin-top: 10px;
        padding-top: 15px;
}


.input-wrapper {
    color: rgb(105, 79, 13);
    text-align: center;
    text-decoration: solid;
    display: inline-flex;
    padding: .75rem;
}

.label {
    text-align: center;
    padding-right: 1rem;
}

.register-card {
    background-color: white;
    width: 40%;
    height: 50%;
    position: relative;
    border-radius: 3em;
    box-shadow: 0 0.1em 1em rgb(180, 197, 218);
    display: inline-flex;
    height: 250px;
    margin-top: 10px;
    padding-top: 10px;
}

.profile img {
    border-radius: 50%;
    width: 12%;
    padding-top: 2px;
}

.profile-header {
    font-style: italic;
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
    color: white;
    font-size: 20px;
    padding: 0%;
    margin: 0%;
}

.profile-body {
        display: flex;
        flex-direction: row;
        width: 100vw;
        border: 1px solid rgb(51, 51, 51);
        overflow: hidden;
        height: fit-content;
        border-radius: 20px;
        box-shadow: 0 0 10px 3px rgba(60, 60, 60, 0.8);
        justify-content: space-around;
}

.profile-body-inner {
        overflow-y: scroll;
        height: fit-content;
        width: 40vw;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.3);
}

.profilefeed1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

